body {
  background: #dbe6dd;
  text-align: center;
  -webkit-transform: translateZ(0);
}

#bla {
    padding-top: 10%;
    padding-bottom: 10%;
}

.btn-big-red {
    border: none;
    cursor: pointer;
    background-color: #C63702;
    background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
    border-radius: 20px;
    box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 15px 0 0 #AD3002, 0 15px 0 1px rgba(0, 0, 0, 0.4), 0 15px 15px 1px rgba(0, 0, 0, 0.5);
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    padding-top: 6%;
    padding-bottom: 6%;
    width: 30%;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    outline: 0;
}

.btn-big-red:hover, .btn-big-red:focus {
  background-color: #D13902;
  box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 18px 0 0 #AD3002, 0 18px 0 1px rgba(0, 0, 0, 0.4), 0 18px 8px 1px rgba(0, 0, 0, 0.6);
  top: -2px;
  outline: 0;
}

.btn-big-red:active {
  box-shadow: 0 0 0 1px #AD3002 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  outline: 0;
}
