* {
  padding: 0;
  font-family: "Roboto", sans-serif; }

body {
  font-family: sans-serif;
  font-family: "Roboto", sans-serif; }

.mi_button {
  padding: 0;
  border: none;
  background: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.2em 3fr 3fr;
  grid-template-areas: "title" "calendar" "userform";
  grid-gap: 0px;
  max-width: 800px;
  margin: 0 auto;
  height: calc(100vh - 16px); }

.title {
  grid-area: title;
  justify-self: center;
  margin: 4px 0;
  font-size: 1.8em; }

.guide {
  border-bottom: 1px solid #999;
  -ms-flex-item-align: center;
  align-self: center; }
  .guide .instruction {
    margin-bottom: 4px; }

.calendar {
  grid-area: calendar;
  -ms-flex-item-align: center;
  align-self: center; }
  .calendar header {
    padding: 4px 0 10px 0;
    color: black;
    text-align: center;
    position: relative;
     }
    .calendar header #month {
      display: block;
      margin-bottom: 4px;
      font-size: 1.7em;
      font-weight: 500;
      letter-spacing: 1px; }
    .calendar header #year {
      display: block;
      font-size: .8em;
      margin-top: 4px; }
    .calendar header .change-month {
      position: absolute;
      background-color: #1d86c8;
      color: white;
      border-radius: 4px;
      box-shadow: none !important;
    }
    .calendar header .change-month:focus {
      outline: 0;
      box-shadow: none !important;
    }

    .calendar header #previous-month {
      display: none;
      top: 26px;
      left: 5.5%;
    }

    .calendar header #next-month {
      top: 26px;
      right: 5.5%;
    }
    
  .calendar .week {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 2px;
    margin: 0 2px;
    color: black;
    letter-spacing: 1px;
    border-bottom: 0px solid black; }
    .calendar .week .day-name {

      text-align: center;
      font-weight: 200; }
  .calendar #day_nums {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 2px 2px;
    padding: 2px; }
    .calendar #day_nums .day {
      padding: 1em 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      grid-column-start: span 1;
      grid-row-start: span 1;
      color: #999;
      font-size: 1em; }
    .calendar #day_nums .available {
      border: none;
      cursor: pointer;
      color: white;
      background-color: #1d86c8; }
      .calendar #day_nums .available:not(:focus):hover {
        background-color: #36a0e2; }
      .calendar #day_nums .available:focus {
        outline: none; }
    .calendar #day_nums .selected {
      background-color: #F57F17; }

/*
::placeholder {  Most modern browsers support this now. 
   color:    #aaaaaa;
}
*/

.cursor {
  position: relative;
}

.cursor i {
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 1px;
  height: 100%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}


.userform {
    grid-area: userform; 
} 

.userform .input-wrapper {
    grid-area: textinput;
    padding: 10px 0px;
    width: 300px; 
} 

.userform .input-wrapper label {
      grid-column: auto / span 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; 
} 

.userform .input-wrapper label span {
    margin-bottom: 5px;
    font-size: .8em;
    text-transform: uppercase; 
} 

.userform .input-wrapper label #title-input {
    display: inline-block;
    height: 40px;
    padding: 3px 6px;
    font-size: 100%;
    border: 0;
    border-bottom: 0px solid #1d86c8; 
    background-color: #1d86c825;
}

        .userform .input-wrapper label #title-input:focus {
          outline: 0; }
        .userform .input-wrapper label #title-input:active {
          outline: 0; }
  .userform .download-form {
    grid-area: btn;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center; }
    .userform .download-form .btn-download {
      width: 200px;
      height: 50px;
      border: 2px solid #1d86c8;
      border-radius: 0px;
      color: white;
      background-color: #1d86c8;
      font-size: 1.1em; }
      .userform .download-form .btn-download:hover {
        border: 2px solid #36a0e2;
        background-color: #36a0e2;
        outline: 0;
        cursor: pointer; }
      .userform .download-form .btn-download:focus {
        border: 2px solid #36a0e2;
        background-color: #36a0e2;
        outline: 0; }
      .userform .download-form .btn-download:active {
        border: 2px solid #36a0e2;
        background-color: #36a0e2;
        outline: 0;
        cursor: pointer; }
  .userform #check-presentation-warning {
      grid-area: warning;
      color: #F57F17;
      font-size: 1.3em;
      font-weight: 700;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: visibility 1s, opacity 1s linear;
      -o-transition: visibility 1s, opacity 1s linear;
      transition: visibility 1s, opacity 1s linear; }

.step2 {
  /*visibility: hidden;
  opacity: 0;*/
  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear; }
  .step2:hover {
    visibility: visible;
    opacity: 1; }

@media (max-width: 450px) {
  .content {
    width: 308px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .calendar .week {

    grid-template-columns: repeat(7, 41px);
    grid-gap: 2px 2px;
    padding: 2px; }
  .calendar .day_nums {
    grid-template-columns: repeat(7, 41px);
    grid-gap: 1px 1px; }

  .user-input {
    width: 306px; } }
@media (min-width: 1024px) {
  body {
    background-color: #999; }

  .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(100vh - 16px);
    border-radius: 3px;
    padding: 10px 20px;
    background-color: white; } }


