<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Presentación</title>
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Descarga Presentación</h1>

      <form method='GET' action='/next_sunday'>
        <button type="submit">Próximo Domingo</button>  
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
  </body>
</html>