<!DOCTYPE html>
<html>
    <head>
        <title>PPT Misa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style2.css') }}">
        <script src="{{url_for('static', filename='index2.js')}}"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111977130-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-111977130-1');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Download a Powerpoint presentation with the readings of the day you want.">
        <meta name="keywords" content="porwerpoint,misa,presentacion,descargar,lecturas">
    </head>
    <body>
        <div id="all">
            <h1>Presentación Misa</h1> 
            <div class="header">
                <div class="arrow" >
                    <div class="circle" id="past_month">
                        <div id="left"></div>
                    </div>
                </div>
                <h2 id="month"> <span id='year'></span></h2> 
                <div class="arrow" >
                    <div class="circle" id="next_month">
                        <div id="right"></div>
                    </div>
                </div>
            </div>
            <div id="calendar_headers"></div>

            <div id="calendar"></div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <h4 class="modalheader">Ingrese el título de la presentación</h4>
                <form id="finalform" action="/download-ppt" method="GET">
                    <input name="date" type="hidden" id="dateinput">
                    <textarea spellcheck="false" autocorrect="off" autocomplete="off" name="title"  id="titleinput" required autofocus></textarea>
                    <button id="buttondownload" type="submit">Descargar</button>
              </form>
              <h4 class="modalheader" id='disclaimer'>Por favor, revise que la presentación esté en orden antes de usarla</h4>
            </div>
        </div>
    </body>
</html>