{% extends "base.html" %}
{% block content %}
<section class="content">
  <h1 class="title">Presentacion Misa</h1>
  <div class="calendar step1">
    <header>
      <button id="previous-month" class="change-month mi_button" onclick="previousMonth()"><i class="material-icons">keyboard_arrow_left</i></button>
      <span id="month_year">month year</span>
      <button id="next-month" class="change-month mi_button" onclick="nextMonth()"><i class="material-icons">keyboard_arrow_right</i></button>
    </header>
    <div class="week">
      <div class="day-name">Lunes</div>
      <div class="day-name">Martes</div>
      <div class="day-name">Miércoles</div>
      <div class="day-name">Jueves</div>
      <div class="day-name">Viernes</div>
      <div class="day-name">Sabado</div>
      <div class="day-name">Domingo</div>
    </div>
    <div id="day_nums">
    </div>
  </div>
  <form class="userform" action="/download-ppt" method="PUT">
    <input name="date" type="hidden" id="date">
    <div class="input-wrapper step2">
      <label class="cursor">
        <div>
          <input name="title" type="text" placeholder="Título Presentación" title="Change title" id="title-input" required>
          <i></i>
        </div>
      </label>
    </div>
    <div class="download-form step2">
      <button class="btn-download mi_button" type="submit" onclick="displayCheckWarning()">Descargar</button>
    </div>
    <span id="check-presentation-warning">Por favor, revise si la presentación está en orden antes de usarla.</span>
  </form>
</section>
{% endblock %}
